<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qansha AI</title> <!-- The title of the webpage, shown in the browser tab. -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Bootstrap's CSS framework is included for a responsive grid layout and ready-made components. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <header>
        <div id="video-container">
            <video id="myVideo" autoplay muted loop>
                <source src="video/1.mp4" type="video/mp4">
            </video>

            <!-- text on the video -->
            <div id="video-message">
                <p id="message-one" class="video-message">Qansha AI: ваш надежный аналитик в мире доходов и продаж</p>
                <p id="message-two" class="video-message">Увеличьте свои продажи с инновационными решениями от Qansha AI
                </p>
            </div>
        </div>
    </header>

    <main>
        <div class="container mt-5 mb-5">
            <h2 class="text-center display-4 font-weight-bold" style="margin-top: 100px;">Qansha AI</h2>
            <p class="text-center lead" style="margin-top: 25px">Добро пожаловать на проект с интеграцией ИИ, который помогает бизнесам расти и увеличить прибыль на основе анализа данных.</p>
            <div class="text-center mt-4">
                <a href="login" class="btn btn-primary">Логин</a>
                <a href="signup" class="btn btn-success">Регистрация</a>
            </div>
        </div>
    </main>

    <script src="js/script.js"></script>
</body>

</html>