<nav>
    <div class="hamburger-menu">
        <img src="images/hamburger.png" alt="Menu" id="hamburgerIcon">
    </div>
    <ul id="navList">
        <li><a href="/">Qansha.AI</a></li> <!-- Qansha.AI -->
        <li><a href="/overview"><img class="nav-icon" src="/images/0.png" alt="Overview Icon">Обзор</a></li> <!-- Overview -->
        <!-- <li><a href="/orders"><img class="nav-icon" src="/images/1.png" alt="Orders Icon">Заказы</a></li> Orders -->
        <li><a href="/dannye"><img class="nav-icon" src="/images/2.png" alt="Data Icon">Данные</a></li> <!-- Data -->
        <li><a href="/otchet"><img class="nav-icon" src="/images/3.png" alt="Report Icon">Отчет покупок</a></li> <!-- Report -->
        <li><a href="/analiz"><img class="nav-icon" src="/images/4.png" alt="Sale Analysis Icon">Анализ продаж</a></li> <!-- Sale Analysis -->
        <!-- <li><a href="/pribyl"><img class="nav-icon" src="/images/5.png" alt="Income Icon">Прибыль</a></li> Income -->
        <li><a href="/account"><img class="nav-icon" src="/images/6.png" alt="Personal account Icon">Личный профиль</a></li> <!-- Personal account -->
        <!-- убрали settings, pribyl, orders -->
        <li style="margin-top: 13px;"><a href="/"><img class="nav-icon" src="/images/logout.png" alt="Log Out Icon" style="transform: rotate(180deg);">Выйти</a></li> <!-- Log Out -->
    </ul>
</nav>